
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 100%;
}
a:hover {
  text-decoration: none;
}

.hero-screen-full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#technologiesSection a span {
  position: absolute;
  top: 86vh;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#technologiesSection a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#technologiesSection a span:nth-of-type(2) {
  top: 88vh;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#technologiesSection a span:nth-of-type(3) {
  top: 90vh;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media Queries for mobile */
@media only screen and (max-width: 600px) {
  html { font-size: 100%; }
  img.myImage { width: 95%; height: 40%; margin-bottom: 9vh; }
  .techCardColumn {
    padding: 10px;
  }
  .scroller {
    visibility: hidden;
  }
  .socialHandleIcon {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .socialHandleSection {
    visibility: hidden;
  }
  .nameColumn {
    margin-top: 20px;
    height: 23vh;
  }
  .nameText {
    font-size: 7vw;
    text-align: center;
  }
  .helloText {
    color: #ABABAB;
    font-size: 3vw;
    margin-top: 10px;
  }
  .descriptionText {
    font-size: 5vw;
  }
  .techHeading {
    margin-top: 15px;
    font-size: 5vw;
  }
  .svgTechIcon {
    height: 10vw;
    width: 10vw;
  }
  .socialHandleIconBottom {
    height: 40px;
    margin-right: 3vw;
  }
  #socialMediaAtBottom {
    text-align: center;
    margin-bottom: 30px;
  }
  .reachMeOutTxt {
    font-size: 5vw;
    text-align: left;
  }
  .firebaseIcon {
    height: 9vw;
    width: 6vw;
  }
  .deviconIcon {
    font-size: 9vw;
    padding: 0px;
  }
  .techName {
    font-size: 3vw;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  img.myImage { width: 30vw; height: 30vw; margin-top: 10px }
  .techCardColumn {
    padding: 10px;
  }
  .socialMediaHandle {
    margin-top: 0vw;
  }
  .heroRow {
    height: 0vh;
  }
  .nameText {
    font-size: 45px;
    line-height: 1;
  }
  .descriptionText {
    font-size: 30px;
  }
  #socialMediaAtBottom {
    visibility: hidden;
  }
  #techSection {
    margin-top: 100vh;
  }
  .firebaseIcon {
    height: 60px;
    width: 45px;
  }
  .techHeading {
    font-size: 24px;
  }
  .svgTechIcon {
    height: 60px;
    width: 60px;
  }
  .deviconIcon {
    font-size: 40px;
  }
  .technologies {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) {
  img.myImage { width: 80%; height: 40%; }
  .techCardColumn {
    padding: 30px
  }
  .heroRow {
    height: 100vh;
  }
  .nameColumn {
    margin-top: 70px;
  }
  .svgTechIcon {
    height: 60px;
    width: 60px;
  }
  #socialMediaAtBottom {
    visibility: hidden;
  }
  .firebaseIcon {
    height: 60px;
    width: 45px;
  }
  .deviconIcon {
    font-size: 40px;
  }
  .techHeading {
    font-size: 24px;
  }
  #techSection {
    margin-top: 0;
  }
}

.socialHandleSection {
  margin-top: 35%;
}

.socialHandleIcon {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.descriptionText {
  color: #ABABAB;
  font-family: "Varela Round";
}

.nameText {
  color: white;
  font-weight: bold;
  font-family: "Varela Round"
}

.helloText {
  color: #ABABAB;
}

.techHeading {
  font-family: "Varela Round";
  font-weight: bold;
}

.techName {
  color: white;
  visibility: hidden;
}